<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-default navbar-static-top">

    <div class="container">

        <ul class="nav navbar-nav navbar-right">

            <li>
                <a class="navbar-brand" href="{% url 'index' %}">BRAND</a>
            </li>

            <li>
                <a class="navbar-link" href="{% url 'admin:index' %}">ADMIN</a>
            </li>

            <li>
                <a class="navbar-link" href="{% url 'basic_app:other' %}">OTHER</a>
            </li>

        </ul>

    </div>

</nav>

<div class="container">

    {% block body_block %}



    {% endblock body_block %}


</div>


</body>
</html>